@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-weight: bold;
}

.cabecalho {
    width: 1024px;
    height: 100px;
    background-color: #222;
}

h1 {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

header h1 {
    padding: 36px 0 36px 122px;
}

.texto-verde {
    color: #39b24a;
}

.texto-vermelho {
    color: #fc200c;
}

.menu {
    position: relative;
    left: 720px;
    top: -100px;
    width: 290px;
    height: 19px;
    margin-right: 28px;
}

a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.menu ul li {
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 8px;
}

.menu ul li:first-child {
    margin-left: 0;
}

.principal {
    width: 1024px;
    height: 385px;
}

.imagem-delivery {
    margin: 35px 5px 35px 19px;
    width: 490px;
    height: 350px;
    background-image: url(./../img/delivery.jpg);
    background-repeat: no-repeat;
}

.imagem-delivery p {
    text-align: center;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    color: #fc200c;
    padding: 4px 3px 0 2px;
}

.palavraComprando {
    color: #fff;
}

.cardapio {
    position: relative;
    top: -385px;
    left: 520px;
    margin: 35px 5px 35px 19px;
    width: 491px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
}

.top5 {
    width: 385px;
    height: 250px;
    border-radius: 5px;
    position: relative;
    top: -170px;
}

.top5 h3 {
    margin-left: 69px;
    margin-bottom: 20px;
}

.top5 ol {
    margin-left: 51px;
}

.top5 ol li {
    margin-bottom: 10px;
}

.imagem-fatiada {
    display: inline-block;
    position: relative;
    bottom: -128px;
    background-image: url(./../img/PizzaFalling.jpg);
    background-repeat: no-repeat;

    width: 92px;
    height: 129px;

    margin: 80px 74px 0 325px;
}

.cardapio h2 {
    width: 205px;
    height: 28px;
    font-size: 23px;
    color: #fc200c;
    font-weight: 700;
    padding-top: 26px;
    padding-left: 160px;
    padding-right: 126px;
}

.rodape {
    width: 1024px;
    height: 150px;
    background-color: #222;
}

.rodape ul {
    height: 131px;
    padding-left: 20px;
}

.rodape ul li:first-child {
    padding-top: 19px;
}

.rodape ul li:last-child {
    padding-bottom: 19px;
}

.rodape ul li {
    color: #f3f3f3;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    height: 19px;
    margin-bottom: 12px;
}

.rodape h1 {
    position: relative;
    left: 855px;
    top: -75px;
    width: 110px;
    height: 23px;
}
